{% extends "index.html" %}

{% block content %}
    <p>Bienvenue sur la page d'accueil de votre application Flask !</p>
    <p>Pour vérifier le bon fonctionnement de votre application, cliquez sur les liens suivants :</p>
    <ul>
        <li><a href="http://127.0.0.1:5000/testflask">Lister les BDD MongoDB</a></li>
        <li><a href="http://127.0.0.1:5000/testmongo">Vérifier le contenu Ecobalyse de la BDD MongoDB</a></li>
        <li><a href="http://127.0.0.1:5000/testredis">Vérifier le contenu Ecobalyse de la BDD Redis</a></li>        
    </ul>
{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}
