{% extends "index.html" %}

{% block content %}
    <p>Bienvenue sur la page d'accueil de votre application Flask !</p>
    <p>Pour vérifier le bon fonctionnement de votre application, saisir les adresses :</p>
    <ul>
        <li>127.0.0.1:5000/testflask, afin de lister les BDD MongoDB</li>
        <li>127.0.0.1:5000/testmongo, afin de vérifier le contenu Ecobalyse de la BDD MongoDB</li>
        <li>127.0.0.1:5000/testredis, afin de vérifier le contenu Ecobalyse de la BDD Redis</li>
    </ul>
{% endblock %}