{% block menu %}
<br />
<p>Pour obtenir quelques métriques sur les données récupérées, cliquez sur les boutons suivants :</p>
<div class="menu">
    <button onclick="location.href='http://127.0.0.1:5000/impact_metrics'">Métriques Environnementales</button>
    <button onclick="location.href='#'">Métriques Économiques</button>
    <button onclick="location.href='#'">Métriques de Durabilité</button>
    <button onclick="location.href='#'">Métriques de Transport</button>
    <button onclick="location.href='#'">Métriques de Traçabilité</button>
    <button onclick="location.href='#'">Métriques de Transformation</button>
</div>
<br />
{% endblock %}